@import url('./fonts.scss');
@import url('./colors.scss');
@import url('./utils.scss');
@import url('./components/buttons.scss');

* {
	font-family: 'IranSans';
}

body{
	display: flex;
	justify-content: center;
	text-align: right;
	direction: rtl;
	margin:0;
	margin-top: 20px;
}

#root{
	width: 100%;
}